html {
    background: #e3e3e3;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

.blogtable {
    border-top: 3px dotted #808080;
    border-bottom: 3px dotted #808080;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blogpost {
    border-bottom: 1px dotted #ccc;
}

a[target] {
    background-color: #7fffd4;
}

.break1::after {
    content: "\a";
    white-space: pre;
}

#email {
    font-weight: bold;
}

#photo {
    width:35%;
    float:left;
    margin-right: 8px;
}

/* deal with line breaks using (.class)::before or (#id)::after */

.sticky {
    background: lightskyblue;
    position: sticky;
    top: 5px;
}

figure {
    float:left;
    text-align: center;
    font-style: italic;
    font-size: small;
}

#self {
    width:35%;
}

section {
    display: flex;
}

article {
    background: #adb0b3;
    padding: 10px;
    margin: 10px;
}

article:nth-of-type(1) {
    flex: 5;
}